In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("/Users/pintoza/Desktop/dev/data-science/fast-food-nutrition/data/processed/items_with_class.csv")

In [29]:
df.head()

   Restaurant               Item  Calories Classification
0  salsaritas          Amber Ale     166.0       beverage
1  salsaritas          Bud Light     103.0       Beverage
2  salsaritas          Budweiser     170.0       Beverage
3  salsaritas  Classic Margarita     360.0       beverage
4  salsaritas   Frozen Margarita     300.0       beverage

In [30]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

/var/folders/_6/p9nq2tdd6418xp1vt5dxwqhm0000gn/T/ipykernel_20998/1718083031.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [31]:
df.head()

   Restaurant               Item  Calories Classification
0  salsaritas          Amber Ale     166.0       beverage
1  salsaritas          Bud Light     103.0       Beverage
2  salsaritas          Budweiser     170.0       Beverage
3  salsaritas  Classic Margarita     360.0       beverage
4  salsaritas   Frozen Margarita     300.0       beverage

In [32]:
print("Unique values of Classification before standardization:", df['Classification'].unique())

Unique values of Classification before standardization: ['beverage' 'Beverage' 'main' 'Side' 'Dessert' 'Main' 'Topping' 'side'
 'topping' 'Toppping' 'Topping.' 'Bevarage' 'dessert' 'Sauce' 'Main dish'
 'Main.' 'Spread/topping' 'Dressing' 'Appetizer' 'Topning' 'Snack'
 'Toppling' 'Side.' 'Sauce/dressing' 'Spread' 'Dessert.' 'Main dish.'
 'Bevverage' 'Soup' 'Beverage.' 'Condiment' 'Maindish' 'Main course'
 'Topging' 'Dip' 'Topming' 'Appetizer.']

In [33]:
# Function to standardize the classification values
def standardize_classification(value):
    value = value.lower().strip()  # Convert to lowercase and strip whitespaces
    if value in ['main', 'side', 'beverage', 'dessert', 'topping']:
        return value
    if value in ['Beverage', 'Bevarage', 'bevarage', 'bevverage', 'beverage.']:
        return 'beverage'
    if value in ['toppping', 'sauce', 'Sauce', 'Spread/topping', 'Dressing', 'Topning', 'Toppling', 
                 'Sauce/dressing', 'spread', 'Condiment', 'Topging', 'Dip', 'Topming', 'topping.', 'dressing', 'spread/topping', 'topning',
                'toppling', 'sauce/dressing', 'condiment', 'topging', 'dip', 'topming']:
        return 'topping'
    if value in ['Main dish', 'Main.' 'Main dish.', 'Maindish', 'Main course', 'Appetizer', 'Appetizer.', 'Soup', 'appetizer',
                'main course', 'main dish', 'appetizer.', 'maindish', 'main dish.', 'main.', 'soup']:
        return 'main'
    if value in ['Side.', 'Snack', 'snack', 'side.']:
        return 'side'
    if value in ['dessert.']:
        return 'dessert'
    return value
        
# Apply the standardization function to the 'Classification' column
df['Classification'] = df['Classification'].apply(standardize_classification)

In [34]:
print("Unique values after standardization:", df['Classification'].unique())

Unique values after standardization: ['beverage' 'main' 'side' 'dessert' 'topping']

In [35]:
# Count the number of None values in the Classification column
none_count = df['Classification'].isnull().sum()
print(f"Number of None values in 'Classification': {none_count}")

# Display rows with None values in the Classification column
none_rows = df[df['Classification'].isnull()]
print("Rows with None values in 'Classification':")
print(none_rows)

Number of None values in 'Classification': 0
Rows with None values in 'Classification':
Empty DataFrame
Columns: [Restaurant, Item, Calories, Classification]
Index: []

In [36]:
import html

# Apply html.unescape to each entry in the 'Item' column
df['Item'] = df['Item'].apply(html.unescape)

# Display the DataFrame to verify changes
print(df.head())

   Restaurant               Item  Calories Classification
0  salsaritas          Amber Ale     166.0       beverage
1  salsaritas          Bud Light     103.0       beverage
2  salsaritas          Budweiser     170.0       beverage
3  salsaritas  Classic Margarita     360.0       beverage
4  salsaritas   Frozen Margarita     300.0       beverage

In [37]:
# Count NaN values in Calories column
nan_calories = df['Calories'].isnull().sum()
nan_calories

0

In [38]:
# Show rows with NaN values in the Calories column
nan_calories_rows = df[df['Calories'].isnull()]
nan_calories_rows

Empty DataFrame
Columns: [Restaurant, Item, Calories, Classification]
Index: []

In [39]:
# Replace NaN values with 0 and convert to integer
df['Calories'] = df['Calories'].fillna(0).astype(int)

In [40]:
# Convert Restaurant names to uppercase
df['Restaurant'] = df['Restaurant'].str.upper()

In [41]:
df.head()

   Restaurant               Item  Calories Classification
0  SALSARITAS          Amber Ale       166       beverage
1  SALSARITAS          Bud Light       103       beverage
2  SALSARITAS          Budweiser       170       beverage
3  SALSARITAS  Classic Margarita       360       beverage
4  SALSARITAS   Frozen Margarita       300       beverage

In [42]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv("/Users/pintoza/Desktop/dev/data-science/fast-food-nutrition/data/processed/final.csv", index=False)