In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("/Users/pintoza/Desktop/dev/data-science/fast-food-nutrition/data/processed/items_with_class.csv")

In [47]:
df.head()

   Restaurant               Item  Calories Classification
0  salsaritas          Amber Ale     166.0       beverage
1  salsaritas          Bud Light     103.0       Beverage
2  salsaritas          Budweiser     170.0       Beverage
3  salsaritas  Classic Margarita     360.0       beverage
4  salsaritas   Frozen Margarita     300.0       beverage

In [48]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

/var/folders/_6/p9nq2tdd6418xp1vt5dxwqhm0000gn/T/ipykernel_20000/242626680.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [49]:
df.head()

   Restaurant               Item  Calories Classification
0  salsaritas          Amber Ale     166.0       beverage
1  salsaritas          Bud Light     103.0       Beverage
2  salsaritas          Budweiser     170.0       Beverage
3  salsaritas  Classic Margarita     360.0       beverage
4  salsaritas   Frozen Margarita     300.0       beverage

In [50]:
print("Unique values of Classification before standardization:", df['Classification'].unique())

Unique values of Classification before standardization: ['beverage' 'Beverage' 'main' 'Side' 'Dessert' 'Main' 'Topping' 'side'
 'topping' 'Toppping' 'Topping.' 'Bevarage' 'dessert' 'Sauce' 'Main dish'
 'Main.' 'Spread/topping' 'Dressing' 'Appetizer' 'Topning' 'Snack'
 'Toppling' 'Side.' 'Sauce/dressing' 'Spread' 'Dessert.' 'Main dish.'
 'Bevverage' 'Soup' 'Beverage.' 'Condiment' 'Maindish' 'Main course'
 'Topging' 'Dip' 'Topming' 'Appetizer.']

In [51]:
# Function to standardize the classification values
def standardize_classification(value):
    value = value.lower().strip()  # Convert to lowercase and strip whitespaces
    if value in ['main', 'side', 'beverage', 'dessert', 'topping']:
        return value
    if value in ['Beverage', 'Bevarage', 'bevarage', 'bevverage', 'beverage.']:
        return 'beverage'
    if value in ['toppping', 'sauce', 'Sauce', 'Spread/topping', 'Dressing', 'Topning', 'Toppling', 
                 'Sauce/dressing', 'spread', 'Condiment', 'Topging', 'Dip', 'Topming', 'topping.', 'dressing', 'spread/topping', 'topning',
                'toppling', 'sauce/dressing', 'condiment', 'topging', 'dip', 'topming']:
        return 'topping'
    if value in ['Main dish', 'Main.' 'Main dish.', 'Maindish', 'Main course', 'Appetizer', 'Appetizer.', 'Soup', 'appetizer',
                'main course', 'main dish', 'appetizer.', 'maindish', 'main dish.', 'main.', 'soup']:
        return 'main'
    if value in ['Side.', 'Snack', 'snack', 'side.']:
        return 'side'
    if value in ['dessert.']:
        return 'dessert'
    return value
        
# Apply the standardization function to the 'Classification' column
df['Classification'] = df['Classification'].apply(standardize_classification)

In [52]:
print("Unique values after standardization:", df['Classification'].unique())

Unique values after standardization: ['beverage' 'main' 'side' 'dessert' 'topping']

In [53]:
# Count the number of None values in the Classification column
none_count = df['Classification'].isnull().sum()
print(f"Number of None values in 'Classification': {none_count}")

# Display rows with None values in the Classification column
none_rows = df[df['Classification'].isnull()]
print("Rows with None values in 'Classification':")
print(none_rows)

Number of None values in 'Classification': 0
Rows with None values in 'Classification':
Empty DataFrame
Columns: [Restaurant, Item, Calories, Classification]
Index: []

In [ ]:
df.to_csv('/Users/pintoza/Desktop/dev/data-science/fast-food-nutrition/data/processed/final', index=False)